:root {
    --primary-color:#2a3647;
    --secondary-color:#f5f6f7;
    --sidebar-bg-hover:#091930;
    --side-bar-icon: #cccccc;
    --side-bar-icon-hover:#ffffff;
    --side-bar-privacy-legal:#a8a8a8;
    --urgent-icon:#ff3c00;
    --greeting-name-and-hover:#29abe3;
    --medium-btn:#ffaa00;
    --urgent-arrow:#ff3c00;
    --low-arrow:#79e329;
    --user-storys:#0037ff;
    --technical-task:#1fd7c1;
    --user-icon:#d1d1d1;
}

body {
    height: 100vh;
    max-width: 1440px;
    font-family: 'Inter Variable', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    display: flex;
}

main {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 96px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.help-button {
    padding: 6px;
}

.profil-button {
    width: 56px;
    height: 56px;
    border: solid 3px var(--primary-color);
    border-radius: 50%;
    color: var(--greeting-name-and-hover);
    font-weight: bold;
    font-size: 16px;
}
    
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    gap: 16px;
}

.side-nav {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 64px;
}

.side-nav a {
    display: flex;
    align-items: center;
    color: #7b818a;
    text-decoration: none;
    padding: 8px 56px;
    gap: 8px;
}

.police-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 64px;
}

.police-links-container a {
    color: var(--side-bar-privacy-legal);
    text-decoration: none;
    font-size: 14px;
    padding: 8px 56px;
}

.headline {
    font-size: 16px;
    padding-left: 64px;
}

aside {
    width: 232px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100px;
}
