/*#region Layout Foundation*/
/* =========================================
   1. GLOBAL STYLES & RESET
   ========================================= */
body {
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--secondary-color);
    display: flex;
}

/* =========================================
   2. MAIN LAYOUT STRUCTURE
   ========================================= */
aside {
    width: 232px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    height: 96px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* =========================================
   3. NAVIGATION & SIDEBAR COMPONENTS
   ========================================= */
.logo {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100px;
}

.side-nav {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 64px;
}

.side-nav a {
    display: flex;
    align-items: center;
    color: #7b818a;
    padding: 8px 56px;
    gap: 8px;
}

.police-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 64px;
}

.police-links-container a {
    color: var(--side-bar-privacy-legal);
    text-decoration: none;
    font-size: 14px;
    padding: 8px 56px;
}

/* =========================================
   4. HEADER COMPONENTS & BUTTONS
   ========================================= */
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    gap: 16px;
}

.headline {
    font-size: 16px;
    padding-left: 64px;
}

.help-button {
    padding: 6px;
}

.profil-button {
    width: 56px;
    height: 56px;
    border: solid 3px var(--primary-color);
    border-radius: 50%;
    color: var(--greeting-name-and-hover);
    font-weight: bold;
    font-size: 16px;
}

/* =========================================
   5. OTHER UTILITIES / CONTENT
   ========================================= */
/*#endregion*/