.board-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 48px;
}

.board-section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 61px;
}

.search-container {
  display: flex;
  border: 1px solid #bbbbbd;
  border-radius: 10px;
}

.board-header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
}

.search-container:focus-within {
  border-color: var(--greeting-name-and-hover);
}

.search-container .divider {
  width: 2px;
  height: 28px;
  background-color: var(--side-bar-icon);
}

.search-container input {
  width: 250px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color:black;
}

.search-container input:focus {
  outline: none;
}

.search-container input::placeholder {
  color: var(--side-bar-icon);
}

.search-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}

.search-container button:hover {
  transform: scale(1.1);
}

.search-container button:hover {
  background-color: var(--side-bar-icon);
}

.primary-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 21px;
  cursor: pointer;
  transition: 0.2s ease;
}

.primary-btn:hover {
  background: var(--greeting-name-and-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.board-content {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.board-content section {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
}

.board-content section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-title {
  font-size: 20px;
  font-weight: bold;
}

.add-new-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  
}

.add-new-task-button img:hover {
  filter: invert(61%) sepia(52%) saturate(2335%) hue-rotate(167deg) brightness(96%) contrast(91%);
}
