.check-img {
  width: 24px;
  height: 24px;
}

.edit-button {
  padding: 16px;
  height: 57px;
  gap: 4px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-dialog {
  overflow: hidden;
  padding: 32px 40px;
}

.edit-header {
  justify-content: flex-end;
  padding-right: 0;
}

.edit-first-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edit-input {
  font-size: 20px;
  height: 48px;
}

.feedback-message {
  color: rgb(255, 0, 0);
  font-size: 12px;
  display: none;
}

.edit-scroll-content {
  min-height: 0;
  overflow-y: auto;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.edit-textarea {
  font-family: "Inter Variable", sans-serif !important;
  font-size: 21px !important;
  font-family: "Inter Variable", sans-serif !important;
  font-size: 21px !important;
}

.edit-textarea:focus {
  border-color: var(--greeting-name-and-hover);
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 44px;
}

.input-wrapper button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority-label {
  font-size: 19px;
  font-weight: bold;
}

.priority-options {
  display: flex;
  gap: 8px;
}

.priority-options .prio-btn {
  font-size: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s ease;
}

.priority-options .prio-btn:not(.is-active):hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

#urgent-btn.is-active {
  background: #ff3d00;
  color: #ffffff;
}

#medium-btn.is-active {
  background: #ffa800;
  color: #ffffff;
}

#low-btn.is-active {
  background: #7ae229;
  color: #ffffff;
}

.priority-options .prio-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.priority-options .prio-icon path {
  stroke: currentColor;
  stroke-width: 2.6;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

#urgent-btn:not(.is-active) .prio-icon {
  color: #ff3d00;
}

#low-btn:not(.is-active) .prio-icon {
  color: #7ae229;
}

#urgent-btn.is-active .prio-icon,
#low-btn.is-active .prio-icon {
  color: #ffffff;
}

#medium-btn img {
  width: 20px;
  height: 10px;
}

#medium-btn.is-active img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.d-none {
  display: none;
}
