@font-face {
  font-family: 'Inter Variable';
  src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: normal; 
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Inter Variable', sans-serif;
  font-weight: 700;
  font-size: 61px;
}

h2 {
  font-family: 'Inter Variable', sans-serif;
  font-weight: 500;
  font-size: 47px;
  color: var(--primary-color);
}

h4 {
  font-family: 'Inter Variable', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: var(--primary-color);
}