@media (max-width: 1100px) {
  .police-links-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    gap: 16px;
  }

  .police-links-container a {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 76px;
    width: 100px;
    border-radius: 16px;
    padding: 0;
  }

  .police-links-container a:hover {
    color: white;
    background: var(--sidebar-bg);
  }
}
