* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  margin: 48px;
  overflow-y: auto;
  scrollbar-width: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px 45px 14px 16px;
  border-radius: 10px;
  border: 1px solid var(--user-icon);
  font-size: 16px;
  outline: none;
  transition: 0.2s ease;
}

.input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.6;
  pointer-events: none;
}

input::placeholder {
  color: var(--side-bar-icon);
}

input:focus {
  border-color: var(--greeting-name-and-hover);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  height: 48px;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 0px 24px;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.primary-btn:hover {
  background: var(--greeting-name-and-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
  height: 48px;
  font-family: "Inter Variable", sans-serif;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  border-radius: 10px;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  background: transparent;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}

.secondary-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: 1.5px solid var(--greeting-name-and-hover);
  border-color: var(--greeting-name-and-hover);
  color: var(--greeting-name-and-hover);
}

.pd-top24 {
  padding-top: 24px;
}

.pd-bottom24 {
  padding-bottom: 24px;
}

.pd-top8 {
  padding-top: 8px;
}

@media (max-width: 600px) {
  .main-section {
    margin: 24px;
  }
}
