.summary-section {
    padding: 96px 48px;
    background-color: var(--background-color);
}

.summary-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.summary-subtitle {
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: var(--primary-color);
}

.split-line {
    width: 3px;
    height: 59px;
    margin: 0 24px;
    background-color: var(--greeting-name-and-hover);
    border-radius: 1.5px;
}

.summary-below-section {
    display: flex;
    align-items: center;
}

.summary-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding-top: 32px;
    max-width: 560px;
    grid-template-areas:
        "todo   todo   todo   done   done   done"
        "priority priority priority priority priority priority"
        "board  board  progress progress feedback feedback";
}

.icon-wrapper {
    width: 69px;
    height: 69px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-card {
    width: 32px;
    height: 32px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-left: 16px;
}

.numbers {
    font-family: 'Inter Variable', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: black;
}

.card-font {
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-color);
}

.todo {
    grid-area: todo;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.done {
    grid-area: done;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.priority {
    grid-area: priority;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bg-prio {
    background-color: var(--urgent-icon);
}

.split-line-priority {
    width: 2px;
    height: 100px;
    margin: 0 24px;
    border-radius: 1px;
    background-color: var(--user-icon);
}

.deadline-text {
    margin-top: 8px;
    color: var(--primary-color);
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.board {
    grid-area: board;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progress {
    grid-area: progress;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback {
    grid-area: feedback;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.task-text {
    color: var(--primary-color);
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.card {
    background: #ffffff;
    padding: 38px;
    border-radius: 30px;
}

.welcome-section {
    padding-left: 64px;
}

.user-name {
    font-family: 'Inter Variable', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: var(--greeting-name-and-hover);
}